@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27');

:root {
    --white: #fff;
    --black: #000;

    --primary-color-dark: rgb(54, 54, 54);
    --secound-color-dark: rgb(39, 39, 39);

    --primary-color-white: rgb(94, 93, 93);
    --secound-color-white: rgb(63, 63, 63);

    --border-btn: rgb(46, 46, 46);
}

* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    transition: all 0.5s;
}


/* ========THEME======== */
.color {
    color: var(--white) !important;

}

/* BLACK */
.back-black {
    background: var(--black) !important;
}

.back-black .div-new {
    background: var(--black) !important;
}

.back-black .sub-container,
.back-black .sub-div-new {
    background: var(--primary-color-dark) !important;

}

.back-black .btn-color,
.back-black .input-addTask,
.back-black li {
    background: var(--secound-color-dark) !important;
}


/* WHITE */
.back-white {
    background: var(--white) !important;
}

.back-white .div-new {
    background: var(--white) !important;
}

.back-white .sub-container,
.back-white .sub-div-new {
    background: var(--primary-color-white) !important;
    box-shadow: 4px 7px 6px 2px #000;
}

.back-white .btn-color,
.back-white li,
.back-white .input-addTask {
    background: var(--secound-color-white) !important;
}


/* ========TASKS======== */
li {
    border-radius: 10px;
    padding: 15px 10px;
    transition: all .05s;
    display: flex;
    position: relative;
    flex-direction: row;
}

.RemoveTask {
    position: absolute;
    right: 10px;
    top: 9px;
}

.p-date {
    position: absolute;
    right: 90px;
}

.ul-addedTask {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
}


/* ========BTNS======== */

.btn {
    font-weight: 500;
    padding: 7px;
    border-radius: 10px;
    border: 1.5px solid #fff;
    transition: all .05s;
}

.btn:active {
    transform: translateY(1.5px);
}

.button-theme {
    right: 0;
    height: 40px;
    position: absolute;
    font-size: 1.2rem;
}

.btn-addTask {
    width: 50%;
}

.time-new {
    padding: 5px;
    border: 1.5px solid #fff;
    height: 100%;
    border-radius: 10px;
}

.btn-new-close {
    font-size: 1.2rem;
    position: absolute;
    right: 1rem;
    height: 40px;
}


/* ========ADD TASKS======== */
.check {
    display: none;
}

.div-new {
    top: 0;
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    margin-top: 2rem;
}

.check:checked~.div-new {
    display: block;
    top: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    margin-top: 2rem;
    z-index: 10;
}

.sub-div-new {
    margin-top: 2rem;
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    padding: 20px;
    width: 40%;
    margin: 0 auto;
    gap: 1rem;
}

.div-new-add {
    display: flex;
    justify-content: space-between;
}

.addTask {
    position: relative;
    padding: 0px 0px 20px 0px;
}

.check:checked~.container .sub-container .addTask .btn {
    display: none;
}

.input-addTask {
    border: none;
    width: 100%;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
    outline: none;
}

.input-addTask:focus {
    border: 1px solid #fff;
}

/* ========CONTAINERS======== */
.container {
    margin-top: 2rem;
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
}

.sub-container {
    transition: all .05s;
    text-align: center;
    border-radius: 10px;
    padding: 20px 50px;
    width: 500px;
    margin: 0 auto;
}


/* ========RESPONSIVE======== */

@media all and (max-width: 930px) {
    .sub-div-new {
        width: 50%;
        gap: 1rem;
        font-size: 0.9rem;
    }
}

@media all and (max-width: 695px) {
    .div-new-add {
        display: flex;
        flex-direction: column;
    }
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 2rem;
        width: 100%;
        padding: 0 10px;
        display: flex;
        justify-content: center;
    }

    .sub-container {
        transition: all .05s;
        text-align: center;
        border-radius: 10px;
        padding: 20px 25px;
        width: 100%;
        margin: 0 auto;
    }

    .div-new {
        top: 0;
        display: none;
        position: fixed;
        height: 100vh;
        width: 100%;
        padding: 0 10px;
        margin-top: 2rem;
        background: red !;
    }

    .sub-div-new {
        margin-top: 2rem;
        border-radius: 10px;
        flex-direction: column;
        display: flex;
        padding: 20px;
        width: 75%;
        margin: 0 auto;
        gap: 1rem;
    }

}